<!DOCTYPE html>
<html>
    <head>
        <title>
            Hello, this is for lecture0, version 2!
        </title>
            <link rel="stylesheet" href="styles.css">
        
        <style>

        h1 {
            color: blue; text-align: center;
        }
        </style>
            <body>
                Hello, world! Hello again! and again (just to test changes)
                <h1> 
                    hello, testing style
                </h1>
                <h2>
                    Hello, I'm testing the link 
                    with styles.css file
                </h2>
                <table style="width: 100%;">
                    <tbody>
                      <tr>
                        <td style="width: 50%; background-color: rgb(204, 204, 204);"><strong>First Name</strong></td>
                        <td style="width: 50%; background-color: rgb(204, 204, 204);"><strong>Last Name</strong></td>
                      </tr>
                      <tr>
                        <td style="width: 50.0000%;"><strong>James</strong></td>
                        <td style="width: 50.0000%;"><strong>Hetfield</strong></td>
                      </tr>
                      <p> Do you want to visit this page <a href="rel_page1.html">Company name</a>?<br />
                        click here</p>
                    </tbody>
                  </table>
            </body>
        
    </head>
</html>
